@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @font-face {
    font-family: "Bonvivantserif";
    font-style: normal;
    src: url("../font/bon-vivant-serif-2.woff");
  }
}
